.AutoCompleteText {
	width: 100%;
	border: 1px solid gray;
	position: relative;
}

.AutoCompleteText input {
	width: 100%;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
	padding: 10px;
}

.AutoCompleteText ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	width: 100%;
	background: white;
	border: 1px solid gray;
	box-sizing: border-box;
	box-shadow: 2px 3px 4px 0px rgba(105, 105, 105, 0.75);
}

.AutoCompleteText li {
	cursor: pointer;
	padding: 6px 10px;
	font-size: 18px;
}

.AutoCompleteText li:hover {
	background-color: lightblue;
}
